html {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  font-size: 100%;
  -webkit-tap-highlight-color: rgba(0,0,0,0);
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: none;
  height: 100%;
  overflow-y: auto;
}

p
{
    margin: 0;
}

*, *:before, *:after {
  -webkit-box-sizing: inherit;
  -moz-box-sizing: inherit;
  box-sizing: inherit;
}

body {
  color: white;
  margin: 0;
  font-family: 'Open Sans', arial, sans-serif;
  font-size: 14px;
  line-height: 1.61;
  font-weight: 400;
  min-height: 100%;
  height: 100%;
}

header {
  background-color: rgba(0,0,0,0.7);
  color: #fff;
  height: 72px;
  line-height: 72px;
  position: absolute;
  padding: 0;
  top: 0;
  width: 100%;
  z-index: 10;
}

footer 
{ 
  margin: 0 auto;
}

.container
{
  height: 100%;
  padding-bottom: 40px;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-attachment: fixed;
  background-position: center; 
}

.hero { 
  padding: 2em; 
  font-size:1.4em;
  font-weight: bold;
  text-align: center;
}

.hello 
{
    font-weight: bold;
    font-size: 40px;
    text-align: center;
    padding-top: 130px;
    line-height: normal;
}

footer {
  padding: 0 0.5em;
  border-top: 1px solid #ccc;
  position: absolute;
  bottom: 0;
  height: 40px;
  width: 100%;
  line-height: 39px;
  z-index: 2;
}

#crp-stats 
{ 
  float: right; 
  font-style: italic; 
}

h1 
{
    margin: 0;
    padding-left: 85px;
    font-size: 22px;
    padding-top: 0px;
    padding-bottom: 5px;
    vertical-align: middle;
    display: inline-block;
    line-height: 27px;
    width: 80%;
}

.photoImg { 
  border-radius: 40px; 
  padding-left: 5px; 
}

.photo
{
    position: absolute;
    left: 0;
    top: 0;
}

nav 
{
  background-color: rgba(0,0,0,0.7);
  overflow: hidden;
  padding-top: 5px;
  position: absolute;
  z-index: 1;  
}

.nav-item
{
  text-decoration: none;
  color: white !important;
}

.nav-item.current
{
    color: yellow !important;
}

.nav-icon
{
    transform: translateY(4px);
}

#header-toggle
{
  display: none;
}

.description 
{
  opacity: 0;
}

#message
{
  display: none;
}

@media only screen and (min-width: 481px) {
  .nav-item
  {
      width: 25%;
      font-size: 18px;
      padding: 8px;
      border-top: 1px solid #ccc;
      float: left;
      text-align: center;
  }
  
  .nav-icon
  {
      padding: 0 38px;
      font-size: 28px !important;
      width: 100%;
  }
}

/* Smartphones (portrait) */
@media only screen and (max-width: 480px) {
  body 
  { 
    font-size: 12px;
  }

  .container
  {
    background-image: url('img/hello-small-fast.jpg');
  }

  .container.experience
  {
    background-image: url('img/adventure-small.jpg');
  }

  nav 
  {
    height: 0;
    width: 100%;
  }

}

@media only screen and (min-width: 481px) and (max-width: 1023px) {

  .container
  {
    background-image: url('img/hello-medium-fast.jpg');
  }

  nav 
  {
      height: 0;
      width: 100%;
  }
}

@media only screen and (min-width: 1024px) 
{
  .container
  {
      background-image: url('img/hello-large-fast.jpg');
  }

  nav 
  {
      height: 80px;
      line-height: 28px;
      width: 500px;
      top: 0;
      right: 0;
  }

  .nav-item
  {
      padding: 4px;
  }
}
